<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="profile-cover">
						<div class="profile-cover-img">
							<img src="userprofile/{{loginuser.backgroundImageName}}"
								style="width: 100%; height: 100%">
						</div>
						<div class="media">
							<div class="media-left">
								<a href="#" class="profile-thumb"> <img
									src="userprofile/{{loginuser.userProfileName}}"
									class="img-circle img-md" alt="">
								</a>
							</div>

							<div class="media-body">
								<h1>
									{{loginuser.firstName}} {{loginuser.lastName}} <small
										class="display-block">{{loginuser.email}}</small>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<br />
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="panel text-center bg-teal-400 has-bg-image">
						<div class="panel-body">
							<h6 class="text-semibold no-margin-bottom mt-5">Yearly</h6>
						</div>
						<div class="panel-body panel-body-accent pb-15">
							<div class="row">
								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini text-muted">Income</div>
									<h5 class="text-semibold no-margin">{{yearlystatistic.income
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> - </h5>
								</div>

								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini text-muted">Expenses</div>
									<h5 class="text-semibold no-margin">{{yearlystatistic.expenses
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> = </h5>
								</div>

								<div class="col-xs-4">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin">{{(yearlystatistic.income
										- yearlystatistic.expenses) | currency:'INR'}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6">
					<div class="panel text-center bg-blue-400 has-bg-image">
						<div class="panel-body">
							<h6 class="text-semibold no-margin-bottom mt-5">Monthly</h6>
						</div>
						<div class="panel-body panel-body-accent pb-15">
							<div class="row">
								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini opacity-75">Income</div>
									<h5 class="text-semibold no-margin">{{monthlystatistic.income
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> - </h5>
								</div>

								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini opacity-75">Expenses</div>
									<h5 class="text-semibold no-margin">{{monthlystatistic.expenses
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> = </h5>
								</div>

								<div class="col-xs-4">
									<div class="text-uppercase text-size-mini opacity-75">&nbsp;</div>
									<h5 class="text-semibold no-margin">{{(monthlystatistic.income
										- monthlystatistic.expenses) | currency:'INR'}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="panel text-center bg-danger-400 has-bg-image">
						<div class="panel-body">
							<h6 class="text-semibold no-margin-bottom mt-5">This Week</h6>
						</div>
						<div class="panel-body panel-body-accent pb-15">
							<div class="row">
								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini text-muted">Income</div>
									<h5 class="text-semibold no-margin">{{weeklystatistic.income
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> - </h5>
								</div>

								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini text-muted">Expenses</div>
									<h5 class="text-semibold no-margin">{{weeklystatistic.expenses
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> = </h5>
								</div>

								<div class="col-xs-4">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin">{{(weeklystatistic.income
										- weeklystatistic.expenses) | currency:'INR'}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-6">
					<div class="panel text-center bg-indigo-400 has-bg-image">
						<div class="panel-body">
							<h6 class="text-semibold no-margin-bottom mt-5">Today</h6>
						</div>
						<div class="panel-body panel-body-accent pb-15">
							<div class="row">
								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini opacity-75">Income</div>
									<h5 class="text-semibold no-margin">{{todaystatistic.income
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> - </h5>
								</div>

								<div class="col-xs-3">
									<div class="text-uppercase text-size-mini opacity-75">Expenses</div>
									<h5 class="text-semibold no-margin">{{todaystatistic.expenses
										| currency:'INR'}}</h5>
								</div>
								
								<div class="col-xs-1">
									<div class="text-uppercase text-size-mini text-muted">&nbsp;</div>
									<h5 class="text-semibold no-margin"> = </h5>
								</div>

								<div class="col-xs-4">
									<div class="text-uppercase text-size-mini opacity-75">&nbsp;</div>
									<h5 class="text-semibold no-margin">{{(todaystatistic.income
										- todaystatistic.expenses) | currency:'INR'}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6">
					<div style="display: block;" class="panel panel-default panel-body">
							<chart [type]="lineChartType" [data]="lineChartData" [options]="lineChartOptions"></chart>
					</div>
				</div>

				<div class="col-md-6">
					<div style="display: block" class="panel panel-default panel-body">
							<chart [type]="barChartType" [data]="barChartData" [options]="barChartOptions"></chart>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p-dataTable #dt [value]="transactions" [rows]="10" [pageLinks]="3"
						resizableColumns="true" reorderableColumns="true"
						[responsive]="true"> <p-header>
					<div class="ui-helper-clearfix">
						<button type="button" pButton icon="fa-file"
							(click)="dt.exportCSV()" style="float: left"
							label="Current Month Transactions"></button>
					</div>
					</p-header> 
					
					<p-column field="category" header="Category"></p-column> 
					
					<p-column field="transactionDate" header="Transaction Date">
				        <ng-template let-col let-transaction="rowData" pTemplate="body">
				            <span>{{transaction[col.field] | date : 'dd-MM-yyyy hh:mm:ss a'}}</span>
				        </ng-template>
				    </p-column>
				    
				    <p-column field="creditAmount" header="Credit">
				        <ng-template let-col let-transaction="rowData" pTemplate="body">
				            <span>{{transaction[col.field] | currency:'INR'}}</span>
				        </ng-template>
				    </p-column>
				    
				    <p-column field="debitAmount" header="Debit">
				        <ng-template let-col let-transaction="rowData" pTemplate="body">
				            <span>{{transaction[col.field] | currency:'INR'}}</span>
				        </ng-template>
				    </p-column>
				    
				     <p-footerColumnGroup>
				        <p-row>
				            <p-column footer="Transactions" colspan="2"></p-column>
				            <p-column footer="{{todaystatistic.income | currency:'INR'}}"></p-column>
				            <p-column footer="{{todaystatistic.expenses | currency:'INR'}}"></p-column>
				        </p-row>
				    </p-footerColumnGroup>
				 </p-dataTable>
				</div>
				<div class="col-md-6">
					<div style="display: block" class="panel panel-default panel-body">
						<chart [type]="doughnutChartType" [data]="doughnutChartData" [options]="doughnutChartOptions"></chart>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>