<div class="page-container">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="profile-cover">
					<div class="profile-cover-img">
						<img src="userprofile/{{loginuser.backgroundImageName}}"
							style="width: 100%; height: 100%">
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#" class="profile-thumb"> <img
								src="userprofile/{{loginuser.userProfileName}}"
								class="img-circle img-md" alt="">
							</a>
						</div>

						<div class="media-body">
							<h1>
								{{loginuser.firstName}} {{loginuser.lastName}} <small
									class="display-block">{{loginuser.email}}</small>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<br />
			</div>
		</div>

		<div class="row" id="generateinvoice">
			<div class="col-sm-12 col-md-12">
				<div class="panel panel-white">
					<div class="panel-heading">
						<h6 class="panel-title">Monthly Invoice</h6>
						<div class="heading-elements">
							<button type="button" class="btn btn-default btn-xs heading-btn" (click)="generateInvoice(statistics.invoiceNumber)">
								<i class="icon-file-check position-left"></i> Save
							</button>
							<button type="button" class="btn btn-default btn-xs heading-btn" (click)="printInvoice('generateinvoice')">
								<i class="icon-printer position-left"></i> Print
							</button>
						</div>
					</div>

					<div class="panel-body no-padding-bottom">
						<div class="row">
							<div class="col-sm-6 content-group">
								<img src="assets/images/logo_demo.png"
									class="content-group mt-10" alt="" style="width: 120px;">
								<ul class="list-condensed list-unstyled">
									<li>From Date: <span class="text-semibold">{{statistics.startDate | date : 'MMMM dd, yyyy'}}</span></li>
								</ul>
							</div>
							
							<div class="col-sm-6 content-group">
								<div class="invoice-details">
									<h5 class="text-uppercase text-semibold">Invoice #{{statistics.invoiceNumber}}</h5>
									<ul class="list-condensed list-unstyled">
										<li>To Date: <span class="text-semibold">{{statistics.endDate | date : 'MMMM dd, yyyy'}}</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<p-dataTable #dt [value]="transactions" [rows]="10"
							[pageLinks]="3" resizableColumns="true" reorderableColumns="true"
							[responsive]="true"> <p-column field="category"
							header="Category"></p-column> <p-column field="location"
							header="Location"></p-column> <p-column field="description"
							header="Description"></p-column> <p-column field="transactionDate"
							header="Transaction Date"> <ng-template let-col
							let-transaction="rowData" pTemplate="body"> <span>{{transaction[col.field]
							| date : 'dd-MM-yyyy hh:mm a'}}</span> </ng-template> </p-column> <p-column field="creditAmount"
							header="Credit"> <ng-template let-col
							let-transaction="rowData" pTemplate="body"> <span>{{transaction[col.field]
							| currency:'INR'}}</span> </ng-template> </p-column> <p-column field="debitAmount" header="Debit">
						<ng-template let-col let-transaction="rowData" pTemplate="body">
						<span>{{transaction[col.field] | currency:'INR'}}</span> </ng-template> </p-column> <p-footerColumnGroup>
						<p-row> <p-column footer="Transactions" colspan="4"></p-column>
						<p-column footer="{{monthlystatistic.income | currency:'INR'}}"></p-column>
						<p-column footer="{{monthlystatistic.expenses | currency:'INR'}}"></p-column>
						</p-row> </p-footerColumnGroup> </p-dataTable>
					</div>

					<div class="panel-body">
						<div class="row invoice-payment">
							<div class="col-sm-7">
								<div class="content-group">
								&nbsp;
								</div>
							</div>

							<div class="col-sm-5">
								<div class="content-group" style="float: right;">
									<h6>Authorized person</h6>
									<div class="mb-15 mt-15">
										<img src="userprofile/{{loginuser.signatureName}}" class="display-block"
											style="width: 150px;" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

