<div class="page-container">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="profile-cover">
					<div class="profile-cover-img">
						<img src="userprofile/{{loginuser.backgroundImageName}}"
							style="width: 100%; height: 100%">
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#" class="profile-thumb"> <img
								src="userprofile/{{loginuser.userProfileName}}"
								class="img-circle img-md" alt="">
							</a>
						</div>

						<div class="media-body">
							<h1>
								{{loginuser.firstName}} {{loginuser.lastName}} <small
									class="display-block">{{loginuser.email}}</small>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<br />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<p-panel header="Add Transaction" [style]="{'margin-bottom':'20px'}">
				<form name="form" #transForm="ngForm">
					<p *ngIf="errorMessage"
						style="color: #f5457d; text-align: center; font-size: medium; font-family: initial; font-weight: bold;">{{errorMessage}}</p>
					<p *ngIf="successMessage"
						style="color: #84BF41; text-align: center; font-size: medium; font-family: initial; font-weight: bold;">{{successMessage}}</p>
					<div class="row">
						<div class="col-sm-9 col-md-9">

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<select name="type" class="form-control" id="type"
										[(ngModel)]="transaction.type" name="type" required="required"
										#type="ngModel">
										<option value=''>Select Type</option>
										<option value="Income">Income</option>
										<option value="Expense">Expense</option>
									</select>
									<div *ngIf="type.errors && (type.dirty || type.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!type.errors.required">Type is required!</div>
									</div>
								</div>
							</div>

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<input name="category" type="text" class="form-control"
										id="category" placeholder="Category" required="required"
										[(ngModel)]="transaction.category" #category="ngModel">
									<div
										*ngIf="category.errors && (category.dirty || category.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!category.errors.required">Category is
											required!</div>
									</div>
								</div>
							</div>

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<input name="amount" type="text" class="form-control"
										id="amount" placeholder="Amount" required="required"
										[(ngModel)]="transaction.amount" #amount="ngModel"
										pattern="[0-9.]*">
									<div *ngIf="amount.errors && (amount.dirty || amount.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!amount.errors.required">Amount is
											required!</div>
										<div [hidden]="!amount.errors.pattern">Must be a valid
											Amount!</div>
									</div>
								</div>
							</div>

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<input name="location" type="text" class="form-control"
										id="location" placeholder="Location" required="required"
										[(ngModel)]="transaction.location" #location="ngModel">
									<div
										*ngIf="location.errors && (location.dirty || location.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!location.errors.required">Location is
											required!</div>
									</div>
								</div>
							</div>

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<textarea class="form-control" placeholder="Description"
										name="description" required="required" id="description"
										[(ngModel)]="transaction.description" #description="ngModel"></textarea>
									<div
										*ngIf="description.errors && (description.dirty || description.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!description.errors.required">Description
											is required!</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-sm-3 col-md-3">

							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<p-calendar [showTime]="true" hourFormat="12" [inline]="true"
										[monthNavigator]="true" [yearNavigator]="true"
										yearRange="1880:2300" name="transactionDate"
										required="required" id="transactionDate"
										[(ngModel)]="transaction.transactionDate"
										#transactionDate="ngModel"></p-calendar>
									<div
										*ngIf="transactionDate.errors && (transactionDate.dirty || transactionDate.touched)"
										style="color: #a94442 !important; font-weight: bold;">
										<div [hidden]="!transactionDate.errors.required">Date is
											required!</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-sm-12 col-md-12">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-12">
									<button type="submit" class="btn bg-pink-400 btn-block"
										(click)="saveTransaction(transaction)"
										[disabled]="!transForm.form.valid">
										Save Transaction <i class="icon-arrow-right14 position-right"></i>
									</button>
								</div>
							</div>

						</div>

					</div>
				</form>
				</p-panel>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div style="display: block;" class="panel panel-default panel-body">
					<chart [type]="lineChartType" [data]="lineChartData"
						[options]="lineChartOptions"></chart>
				</div>
			</div>

			<div class="col-md-6">
				<div style="display: block" class="panel panel-default panel-body">
					<chart [type]="doughnutChartType" [data]="doughnutChartData"
						[options]="doughnutChartOptions"></chart>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p-dataTable #dt [value]="transactions" [rows]="10" [pageLinks]="3"
					resizableColumns="true" reorderableColumns="true"
					[responsive]="true"> <p-header>
				<div class="ui-helper-clearfix">
					<button type="button" pButton icon="fa-file"
						(click)="dt.exportCSV()" style="float: left"
						label="Today Transactions"></button>
				</div>
				</p-header> <p-column field="category" header="Category"></p-column> <p-column
					field="transactionDate" header="Transaction Date"> <ng-template
					let-col let-transaction="rowData" pTemplate="body"> <span>{{transaction[col.field]
					| date : 'MM-dd-yyyy hh:mm:ss a'}}</span> </ng-template> </p-column> <p-column field="creditAmount"
					header="Credit"> <ng-template let-col
					let-transaction="rowData" pTemplate="body"> <span>{{transaction[col.field]
					| currency:'INR'}}</span> </ng-template> </p-column> <p-column field="debitAmount" header="Debit">
				<ng-template let-col let-transaction="rowData" pTemplate="body">
				<span>{{transaction[col.field] | currency:'INR'}}</span> </ng-template> </p-column> 
				<p-footerColumnGroup>
				<p-row> <p-column footer="Transactions" colspan="2"></p-column>
				<p-column footer="{{monthlystatistic.income | currency:'INR'}}"></p-column>
				<p-column footer="{{monthlystatistic.expenses | currency:'INR'}}"></p-column>
				</p-row> 
				</p-footerColumnGroup> 
				</p-dataTable>
			</div>
		</div>

	</div>
</div>