<div class="page-container">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="profile-cover">
					<div class="profile-cover-img">
						<img src="userprofile/{{loginuser.backgroundImageName}}"
							style="width: 100%; height: 100%">
					</div>
					<div class="media">
						<div class="media-left">
							<a href="#" class="profile-thumb"> <img
								src="userprofile/{{loginuser.userProfileName}}"
								class="img-circle img-md" alt="">
							</a>
						</div>

						<div class="media-body">
							<h1>
								{{loginuser.firstName}} {{loginuser.lastName}} <small
									class="display-block">{{loginuser.email}}</small>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<br />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div style="display: block;" class="panel panel-default panel-body">
					<chart [type]="lineChartType" [data]="lineChartData"
						[options]="lineChartOptions"></chart>
				</div>
			</div>

			<div class="col-md-6">
				<div style="display: block" class="panel panel-default panel-body">
					<chart [type]="barChartType" [data]="barChartData"
						[options]="barChartOptions"></chart>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
					[disableDefaultUI]="false" [zoomControl]="false" style="height: 500px;"> 
					<agm-marker
					*ngFor="let m of transactions" [latitude]="m.latitude"
					[longitude]="m.longitude" [label]="A"
					[markerDraggable]="false"> 
					<agm-info-window>
				<strong>{{m.location}}</strong> </agm-info-window> </agm-marker>
				 </agm-map> -->
				<agm-map [latitude]="transactions[0].latitude"
					[longitude]="transactions[0].longitude" [scrollwheel]="false"
					[zoom]="hzoom" style="height: 300px;"> <agm-marker
					*ngFor="let m of transactions" [latitude]="m.latitude"
					[longitude]="m.longitude"> <agm-info-window>
				<strong>{{m.location}}</strong> </agm-info-window> </agm-marker></agm-map>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br />
			</div>
		</div>



		<div class="row">
			<div class="col-md-12">
				<p-dataTable #dt [value]="transactions" [rows]="10" [pageLinks]="3"
					resizableColumns="true" reorderableColumns="true"
					[responsive]="true"> <p-header>
				<div class="ui-helper-clearfix">
					<button type="button" pButton icon="fa-file"
						(click)="dt.exportCSV()" style="float: left" label="Transactions"></button>
				</div>
				</p-header> <p-column field="transactionDate" header="Transaction Date">
				<ng-template let-col let-transaction="rowData" pTemplate="body">
				<span>{{transaction[col.field] | date : 'dd-MM-yyyy hh:mm
					a'}}</span> </ng-template> </p-column> <p-column field="location" header="Location"></p-column> <p-column
					field="description" header="Description"></p-column> <p-column
					field="amount" header="Amount"> <ng-template let-col
					let-transaction="rowData" pTemplate="body"> <span>{{transaction[col.field]
					| currency:'INR'}}</span> </ng-template> </p-column> <p-footerColumnGroup> <p-row>
				<p-column footer="Transactions" colspan="3"></p-column> <p-column
					footer="{{monthlystatistic.expenses | currency:'INR'}}"></p-column>
				</p-row> </p-footerColumnGroup> </p-dataTable>
			</div>
		</div>
		<p-confirmDialog header="Delete Transaction Confirmation"
			icon="fa fa-question-circle" width="425"></p-confirmDialog>
	</div>
</div>